# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.env

# Jupyter
.ipynb_checkpoints

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
*.log

# Data
data/raw/*
!data/raw/.gitkeep
data/interim/

# Processed data
data/processed/*
!.gitkeep